.contents {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    position: absolute;
    top: 510px;
    left: 80px;
    .content {
        width: 271px;
        height: 120px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        position: relative;
        color: white;

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #000, white, #000);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        .content-text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 100%;

            .text {
                img{
                    width: 68px;
                    height: 68px;
                }
                h5 {
                    width: 128px;
                    height: 29px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 100%;
                    color: #FFFFFFD9;
                    margin: 0;
                }

                p {
                    width: 128px;
                    height: 22px;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 100%;
                    color: #FFFFFFD9;
                    margin: 0;
                }
            }
        }
    }
}